/* phần trắng phía trên header
.header-top-space {
  background-color: white;
  height: 10px;
  width: 100%;
} */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0e365f;
  color: white;
  padding: 15px 40px;
  z-index: 999;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin: 0;
}

.logo {
  font-size: 28px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}

/* NAV */
.nav {
  display: flex;
  gap: 25px;
}

.nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 6px 14px;
  border: 2px solid transparent;
  border-radius: 6px;
  transition: all 0.25s ease;
  font-size: 16px;
  font-weight: 600;
}

/* khi click (active) */
.nav a.active {
  color: #003d7a;
  background-color: #ffffff;
  border-color: #ffffff;
}

/* hover khi chưa click */
.nav a:hover {
  border-bottom: 2px solid #ffffff;
}

/* Ô tìm kiếm */
.search-form {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  overflow: hidden;
  height: 36px;
}

.search-form input {
  border: none;
  padding: 8px 12px;
  background: transparent;
  color: white;
  width: 160px;
  outline: none;
}

.search-form button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding-right: 10px;
  font-size: 18px;
}

/* Auth buttons */
.auth-buttons {
  display: flex;
  gap: 10px;
}

.login-btn,
.signup-btn {
  /* border: 1px solid white; */
  background: transparent;
  color: white;
  padding: 6px 14px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  text-decoration: none;
}

.login-btn:hover,
.signup-btn:hover {
  background: white;
  color: #003d7a;
}
