body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: #fff;
}

.page-container {
  text-align: center;
}

.banner img {
  width: 100%;
  max-height: 420px;
  object-fit: cover;
  border-bottom: 4px solid #ff4444;
}

.footer {
  background-color: #111;
  padding: 20px 0;
  color: #aaa;
  font-size: 0.9rem;
  margin-top: 50px;
}
